body{
    margin: 0px;
}
.a{
    width: 100px;
    height: 40px;
    background: red;
    border: 5px solid aqua;
    border-top:none;
    border-radius: 20px;
    border-bottom: none;
}
.a p{
    text-align: center;
    color: white;
    padding: 12px;
   
}